@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var("RPGSystem");

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--EightBitDragon);
}

/* app/globals.css (añade al final) */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #f59e0b #1f2937;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #f59e0b;
  border-radius: 10px;
  border: 3px solid #1f2937;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f97316;
}


.basic-color {
  background: rgb(63, 49, 51, 0.8);
  border: 30px 30px #201d1b;
}

@keyframes pulse-slow {

  0%,
  100% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.6;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 4s ease-in-out infinite;
}

@keyframes draw-path {
  from {
    stroke-dasharray: 0 300;
  }

  to {
    stroke-dasharray: 300 0;
  }
}

.animate-draw-path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw-path 2s ease-out forwards;
}

.text-outline {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}